/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

footer {
    display: none; 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* BODY */
html, body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    background-color: #f9f9f9;
    color: #a3a5ad;
  }

/* HEADER */
.card__header {
    text-align: center;    
    max-width: 32rem;
    margin: 6rem auto 4.67rem;
}

.undertitle {
    font-size: 2.14rem;
    font-weight: 200;
    color: #a3a5ad;
    margin-bottom: 1rem;
}

.main__title {
    font-size: 2.14rem;
    font-weight: 600;
    color: #4c4e61;
    margin-bottom: 1.75rem;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.card__item {
    max-width: 23.47rem;
    width: 100%;
    max-height: 16.8rem;
    height: 100%;
    padding: 2.27rem;
    border-radius: 0.35rem;

    transition: transform 0.3s ease;
}

.card__item:hover {
    transform: scale(1.05); 
    cursor: pointer; 
  }

.card__title {
    margin-bottom: 1rem;
    color: #4c4e61;
}

.card__info {
    margin-bottom: 3rem;
}
.card__icon {
    display: flex;
    justify-content: flex-end;
}

/* BOX-SHADOW for each card */
.card__color--cyan {
    border-top: 0.27rem solid #45d3d3;
    box-shadow: 0 8px 8px rgba(2, 181, 194, 0.2); 
}

.card__color--red {
    border-top: 0.27rem solid #e95252;
    box-shadow: 0 8px 8px rgba(194, 2, 2, 0.2); 
}

.card__color--yellow {
    border-top: 0.27rem solid #fcaf4a;
    box-shadow: 0 8px 8px rgba(194, 104, 2, 0.2); 
    margin-top: 2rem;
}

.card__color--blue {
    border-top: 0.27rem solid #549df2;
    box-shadow: 0 8px 8px rgba(2, 72, 194, 0.2); 
}

/*Space between central cards */
.column--middle {
    margin: auto  2rem;
}


/* MODAL PAGES */
.card__modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal__content {
    background-color: #fff;
    margin: 15% auto;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 0.5rem;
    width: 80%;
    max-width: 40rem;
    
}

.modal__card__header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.modal__icon {
    padding-right: 2rem;
}

.modal__title {
    color: #4c4e61;
    font-size: 1.5rem;
}

.modal__content p {
    font-size: 1.1rem;
}
  
.close__modal {
    color: #aaa;
    float: right;
    font-size: 1.85rem;
    font-weight: bold;
}

.close__modal:hover,
.close__modal:focus {
    text-decoration: none;
    cursor: pointer;
}

/* Colored 'closed' for each card */
.close__cyan:hover,
.close__cyan:focus {
    color:#45d3d3;
}

.close__red:hover,
.close__red:focus {
    color:#e95252;
}

.close__yellow:hover,
.close__yellow:focus {
    color:#fcaf4a;
}

.close__blue:hover,
.close__blue:focus {
    color:#549df2;
}

/* Background color for each card */
.modal__cyan {
    background-color: rgba(66, 252, 221, 0.5);
}

.modal__red {
    background-color: rgba(252, 66, 66, 0.5);
}

.modal__yellow {
    background-color: rgba(249, 191, 54, 0.5);
}

.modal__blue {
    background-color: rgba(66, 143, 252, 0.5);
}

/* Border color for each card */
.border__cyan {
    border-bottom: 0.4rem solid #45d3d3;
}

.border__red {
    border-bottom: 0.4rem solid #e95252;
}

.border__yellow {
    border-bottom: 0.4rem solid #fcaf4a;
}

.border__blue {
    border-bottom: 0.4rem solid #549df2;
}

@media (max-width: 480px) {  

    .card__header {
        max-width: 20rem;
        margin: 4rem auto;
    }

    .undertitle {
        margin-bottom: 0.8rem;
        font-size: 1.75rem;
        font-weight: 100;
    }
    
    .main__title {
        font-size: 1.75rem;
        
    }

    .title__text {
        font-size: 1.1rem;
        margin-bottom: 4rem;
    }

    .cards {
        flex-direction: column;
    }

    .column--middle {
        margin:0;
    }

    .card__item {
        margin-bottom: 2rem;
    }

    .card__title {
        font-size: 1.5rem;
    }

    .card__item p {
        font-size: 0.9rem;
    }

    /* Modal */
    /* Background color for each card */
.modal__cyan {
    background-color: #45d3d3;
}

.modal__red {
    background-color: #e95252;
}

.modal__yellow {
    background-color: #fcaf4a;
}

.modal__blue {
    background-color: #549df2;
}
}